.calculator__title {
    font-size: 110px;
    color: $color-orange;
    margin-bottom: 80px;
    line-height: 100px;
    i.br {
        display: block;
    }
}

.calculator-step {
    display: none;
    &.active {
        display: block;
    }
}

.calculator-step1 {
    .calculator-step1__inner {
        display: flex;
        flex-direction: column;
        min-height: 700px;
    }
    .calculator__inner {
        display: flex;
        width: 100%;
    }
    .calculator__left {
        max-width: 373px;

        p.text {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                display: block;
                background-image: url("../images/mobile/calculator.png");
                background-repeat: no-repeat;
                width: 913px;
                height: 675px;
                top: 0;
                left: 260px;
            }
        }
    }
    .calculator__right {
        position: relative;
        flex: 1 0 auto;

        &::before {
            content: "";
            display: block;
            position: absolute;
            background-image: url("../images/mobile/back-fire.png");
            width: 1342px;
            height: 686px;
            z-index: -1;
            top: -190px;
        }
    }
}

.calculator__btns {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.calculator__btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;

    span {
        font-size: 50px;
        color: $color-purple;
        margin-right: 10px;
    }

    &--mobile {
        span {
            font-size: 40px;
        }
    }
}

.calculator__thanks {
    font-size: 110px;
    color: $color-orange;
    text-align: center;

    &--mobile {
        font-size: 60px;
    }
}

.step2 {
    margin-top: 160px;
    .step2__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;

        li {
            label {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                .step2__top-pic1 {
                    position: relative;
                    height: 130px;
                }
                .step2__top-pic {
                    height: 150px;
                }
            }
            &:nth-child(2) {
                .step2__top-pic1 {
                    &::before {
                        content: "";
                        position: absolute;
                        background-image: url("../images/calculator/check-21.svg");
                        width: 67px;
                        height: 71px;
                        top: -71px;
                        left: -20px;
                    }
                }
            }
            &:nth-child(3) {
                .step2__top-pic1 {
                    &::before {
                        content: "";
                        position: absolute;
                        background-image: url("../images/calculator/check-31.svg");
                        width: 152px;
                        height: 164px;
                        top: -132px;
                        left: -61px;
                    }
                }
            }
            label[for="step2-2"] {
                .step2__top-pic {
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        top: -72px;
                        left: 0px;
                        background-image: url("../images/calculator/antena.png");
                        width: 68px;
                        height: 72px;
                    }
                }
            }
            label[for="step2-3"] {
                .step2__top-pic {
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        top: -132px;
                        left: -68px;
                        background-image: url("../images/calculator/tut.png");
                        width: 157px;
                        height: 169px;
                    }
                }
            }
            span {
                font-family: $opensans-font;
                font-size: 18px;
                margin-bottom: 25px;
            }
            input {
                order: 1;
            }
        }
    }
    .step2__bottom {
        display: flex;
        flex-wrap: wrap;
        li {
            width: 50%;
            margin-bottom: 30px;
            label {
                display: flex;
            }

            span {
                font-family: $opensans-font;
                font-size: 18px;
                margin-bottom: 25px;
            }
        }
    }
}

.step3 {
    .step3__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .step3__bottom {
        display: flex;
        justify-content: space-around;
        padding: 0 100px;
        margin-bottom: 40px;
    }
}

.select {
    display: inline-block;
    position: relative;
    font-family: $opensans-font;
    font-size: 18px;

    .select__top {
        margin-bottom: 30px;
    }
    select {
        margin-left: 20px;
        display: inline-block;
        appearance: none;
        position: relative;
        padding: 5px 0;
        padding-right: 30px;
        padding-left: 10px;
        width: 520px;
        background-image: url("../images/arrow-select.svg");
        background-repeat: no-repeat;
        background-position: 99% center;
        background-size: 20px 10px;
    }
}

.step4 {
    .step4__top {
        display: flex;
        justify-content: space-around;
    }
    .step4__bottom {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
}

.step7 {
    p {
        font-family: $opensans-font;
        font-size: 18px;
    }
    .step7__top,
    .step7__bottom {
        display: flex;
        margin-bottom: 30px;
        .step7__top-right,
        .step7__bottom-right {
            display: flex;
            flex-direction: column;
            span {
                font-family: $opensans-font;
                font-size: 18px;
            }
        }
        .step7__top-left {
            width: 50%;
            .sheet {
                width: 150px;
                height: 214px;
                background-color: #e6e6e6;
                display: flex;
                justify-content: center;
                align-items: center;
                span {
                    font-size: 40px;
                    color: $color-purple;
                }
            }
        }
        .step7__bottom-left {
            width: 50%;
            .sheet {
                width: 318px;
                height: 240px;
                background-color: #e6e6e6;
                display: flex;
                justify-content: center;
                align-items: center;
                span {
                    font-size: 40px;
                    color: $color-purple;
                }
            }
        }
    }
}

.step8 {
    font-family: $opensans-font;
    font-size: 18px;

    .step8__list {
        margin: 30px 0;
        display: flex;
        flex-direction: column;
        li {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        label {
            display: flex;
        }
        span {
            width: 90px;
        }
        input {
            max-width: 520px;
            width: 100%;
            border: 2px solid $color-purple;
            border-radius: 4px;
            padding: 0 10px;
        }
    }
}
