input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked),
input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}

/////////////////////////////////////////////////////////////////////////
input.input[type="checkbox"]:checked + label,
input.input[type="checkbox"]:not(:checked) + label {
	display: inline-block;
	position: relative;
	padding-left: 40px;
	line-height: 30px;
	cursor: pointer;
}

input.input[type="checkbox"]:checked + label::before,
input.input[type="checkbox"]:not(:checked) + label::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 27px;
	height: 33px;
	border: 2px solid $color-purple;
	border-radius: 10px;
}

input.input[type="checkbox"]:checked + label[disabled]::before,
input.input[type="checkbox"]:not(:checked) + label[disabled]::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 27px;
	height: 33px;
	border: 2px solid #ccc;
	border-radius: 10px;
}

input.input[type="checkbox"]:checked + label:after {
	content: "";
	position: absolute;
	transition: all 0.2s ease;
	background-image: url("../images/check.png");
	width: 41px;
	height: 38px;
	top: -7px;
	left: -10px;
}

// A5
.label-top.active::after,
.label-bottom.active::after {
	content: "";
	position: absolute;
	transition: all 0.2s ease;
	background-image: url("../images/check.png");
	width: 41px;
	height: 38px;
	top: -7px;
	left: -10px;
	transition: all 0.2s ease;
}

input.input[type="checkbox"]:checked + label[disabled]:after {
	content: "";
	position: absolute;
	transition: all 0.2s ease;
	background-image: none;
	width: 41px;
	height: 38px;
	top: -7px;
	left: -10px;
}

/////////////////////////////////////////////////////////////////////////

input.input--mode[type="radio"]:checked + label,
input.input--mode[type="radio"]:not(:checked) + label {
	display: inline-block;
	text-align: center;
	position: relative;
	padding-bottom: 40px;
	line-height: 40px;
	cursor: pointer;
	height: auto;
}

input.input--mode[type="radio"]:checked + label::before,
input.input--mode[type="radio"]:not(:checked) + label::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -13px;
	width: 27px;
	height: 33px;
	border: 2px solid $color-purple;
	border-radius: 10px;
}

input.input--mode[type="radio"]:checked + label:after {
	content: "";
	position: absolute;
	transition: all 0.2s ease;
	background-image: url("../images/check.png");
	width: 41px;
	height: 38px;
	bottom: 3px;
	left: 50%;
	margin-left: -23px;
}

/////////////////////////////////////////////////////////////////////////

label[disabled] {
	span {
		color: #cccccc;
	}
}

////////////////////////////////////////////////////////////////////////
////////////////mobile version/////////////////////////////////////

.mobile-step {
	min-height: 445px;
}

.mobile-step {
}
