.background-line--top {
	flex: 0 0 auto;
	// background-image: url("../images/top-back.png");
	// background-size: cover;
}

.main-content {
	flex: 1 0 auto;
}

.background-line--bottom {
	flex: 0 0 auto;
	// background-image: url("../images/bottom-back.png");
	// background-size: cover;
}
