.calculator__title {
	font-size: 110px;
	color: $color-orange;
	line-height: 0.9;
	margin-bottom: 40px;

	i.br {
		display: block;
	}
}

.calculator__inner {
	display: flex;
	width: 100%;
}

.calculator__left {
	max-width: 373px;

	p.text {
		position: relative;

		&::before {
			content: "";
			position: absolute;
			display: block;
			background-image: url("../images/mobile/calculator.png");
			background-repeat: no-repeat;
			width: 913px;
			height: 675px;
			top: 0;
			left: 260px;
		}
	}
}

.calculator__start {
	margin-top: auto;
}

.calculator__btns {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}

.calculator__btn {
	display: flex;
	align-items: center;
	cursor: pointer;
	border: none;
	background-color: transparent;
	outline: none;

	span {
		font-size: 50px;
		color: $color-purple;
		margin-right: 10px;
	}

	&--mobile {
		span {
			font-size: 40px;
		}
	}
}

.calculator__thanks {
	font-size: 110px;
	color: $color-orange;
	text-align: center;

	&--mobile {
		font-size: 60px;
	}
}

.calculator__right {
	position: relative;
	flex: 1 0 auto;

	&::before {
		content: "";
		display: block;
		position: absolute;
		background-image: url("../images/mobile/back-fire.png");
		width: 1342px;
		height: 686px;
		z-index: -1;
		top: -190px;
	}
}

.calculator__picture-arrow--mobile {
	img {
		width: 82px;
	}
}

.calculator__picture-prev {
	margin-right: 10px;
}

.calculator-step {
	min-height: 700px;
}

.calculator-step8 {
	position: relative;
	&::after {
		content: "";
		position: absolute;
		background-image: url("../images/luck.png");
		display: block;
		bottom: 0;
		right: 150px;
		width: 339px;
		height: 309px;
	}
	&--mobile {
		&::after {
			background-image: url("../images/mobile/luck.png");
			background-repeat: no-repeat;
			bottom: 0;
			right: 0;
			width: 159px;
			height: 89px;
		}
	}
}

.calculator-step1__inner {
	display: flex;
	flex-direction: column;
	min-height: 700px;
}

.calculator-step2__list {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 80px;
}

.calculator-step2__list2 {
	display: flex;
	flex-wrap: wrap;
}

.calculator-step2__form {
	width: 100%;
}

.calculator-step2__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: calc(100% / 4);

	input {
		order: 0;
	}

	label {
		font-family: $opensans-font;
		margin-bottom: 20px;
		order: 1;
	}

	@media (max-width: 1024px) {
		width: calc(100% / 2);
	}
}

.calculator-step2__item2 {
	display: flex;
	width: calc(100% / 2);
	font-family: $opensans-font;
	align-items: center;
	margin-bottom: 25px;

	input {
		margin-right: 15px;
	}

	label {
		display: flex;
		flex-direction: column;
	}

	label[disabled] {
		span {
			color: #ccc;
		}
	}
}

.calculator-step2__picture {
	width: 100%;
	height: 240px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	margin-bottom: 40px;
}

.calculator-step3__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.calculator-step3__item {
	width: calc(100% / 3);
	display: flex;
	justify-content: center;
	margin-bottom: 50px;

	&--mode {
		width: calc(100% / 2);
	}
}

.calculator-step3__select {
	display: flex;
	align-items: center;
	margin-bottom: 30px;

	span {
		flex: 0 1 auto;
		margin-right: 50px;
		font-family: $opensans-font;
	}

	select {
		flex: 0 1 520px;
		border: 2px solid $color-purple;
		border-radius: 2px;
		outline: none;
		font-family: $opensans-font;
		padding: 5px 10px;
		background-color: white;
	}
}

.calculator__format-print,
.calculator__format-print--step7 {
	min-height: auto;
	justify-content: space-around;
	margin-bottom: 50px;

	label {
		cursor: pointer;

		&:hover {
			span {
				color: white;
			}
		}

		span {
			font-size: 40px;
		}
	}
}

.calculator__format-print--mobile {
	display: flex;
	justify-content: flex-start;
	padding-left: 20px;
}

.calculator__format-print-list {
	span {
		&:hover {
			color: $color-text !important;
		}
	}
}

.calculator__format-print-right {
	max-width: 295px;
	width: 100%;
}

.calculator__format-print-right-item {
	margin-bottom: 10px;

	.sheet-label {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 80px;
		background-color: #d9d9d9;
	}
}

.calculator__format-print-left {
	max-width: 285px;
	width: 100%;
	height: 370px;
	display: flex;
	flex-direction: column;
}

.calculator__format-print-left-item {
	margin-right: 10px;
	margin-bottom: 15px;
	height: 50%;
	.sheet-label {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		background-color: #d9d9d9;
	}
}

.calculator__format-print-center {
	display: flex;
	flex-direction: column;
	max-width: 280px;
	width: 100%;

	label {
		max-width: 135px;
		width: 100%;
	}
}

.calculator__format-print-center-item {
	display: flex;
	height: 50%;
	.label-wrapper {
		width: 100%;
		display: flex;
	}

	label {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.sheet-label {
		width: 100%;
		height: 170px;
		background-color: #d9d9d9;
		margin-bottom: 15px;
		margin-right: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.calculator__make-bus-1,
.calculator__make-bus-2 {
	min-height: auto;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.calculator__format-print--mode {
	display: flex;
	flex-direction: column;
}

.calculator__format-print-top-list {
	label {
		display: flex;
	}

	.sheet-label {
		width: 290px;
		height: 62px;
		background-color: #d9d9d9;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 30px;
		margin-right: 35px;
	}
}

.calculator__format-print-bottom-list {
	display: flex;
}

.calculator__format-print-bottom-left-list {
	margin-right: 35px;

	.sheet-label {
		width: 290px;
		height: 130px;
		background-color: #d9d9d9;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 10px;
	}
}

.calculator__format-print-bottom-right-list {
	display: flex;

	.sheet-label {
		width: 240px;
		height: 280px;
		background-color: #d9d9d9;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	li:first-child {
		margin-right: 35px;
	}
}

.calculator__format-print--step7 {
	display: flex;
	flex-direction: column;
	min-height: auto;
	margin-bottom: 50px;
}

.calculator__format-print-top-step7 {
	margin-bottom: 25px;
}

.calculator__format-print-top-step7-list {
	display: flex;

	.sheet-label {
		width: 150px;
		height: 214px;
		background-color: #d9d9d9;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	span {
		font-size: 40px;
	}

	& > div {
		width: 50%;
	}

	div:nth-child(2) {
		label {
			font-size: 20px;
			font-family: $opensans-font;
		}
	}
}

.calculator__format-print-bottom-step7-list {
	display: flex;

	.sheet-label {
		width: 318px;
		height: 240px;
		background-color: #d9d9d9;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	span {
		font-size: 40px;
	}

	& > div {
		width: 50%;
	}

	div:nth-child(2) {
		label {
			font-size: 20px;
			font-family: $opensans-font;
		}
	}
}

.calculator__indicate-contacts {
	display: flex;
	flex-direction: column;
}

.calculator__indicate-list {
	li.contacts__indicate-item {
		margin-bottom: 20px;
		display: flex;
	}

	label.contacts__indicate-label {
		max-width: 90px;
		width: 100%;
		font-family: $opensans-font;
	}

	label[for="concent"] {
		font-family: $opensans-font;
	}

	input {
		max-width: 520px;
		width: 100%;
		border: 2px solid $color-purple;
		border-radius: 5px;
		padding: 5px 15px;
		font-family: $opensans-font;
		outline: none;
	}
}

.calculator-step {
	display: none;

	&.active {
		display: block;
	}
}

label.active {
	span {
		color: black !important;
	}
}

.calculator-step2-wrapper {
	width: 100%;
}

.calculator__format-print-list {
	display: flex;
	flex-direction: column;
	label {
		padding-left: 150px !important;
	}
}
