.contacts__title {
	font-size: 110px;
	color: $color-orange;
	font-weight: 400;
	text-align: center;
}

.contacts__top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.contacts__item {
	display: flex;
	flex-direction: column;
	align-items: center;

	p.text {
		margin-top: auto;
		text-align: center;
	}

	a {
		text-decoration: none;
	}
	&:nth-child(2) {
		margin: 0 20px;
	}
	&:first-child,
	&:last-child {
		max-width: 300px;
		width: 100%;
	}
}

.contacts__phone,
.contacts__map,
.contacts__mail {
	margin-top: auto;
}

.contacts__bottom {
	.social {
		display: flex;
		align-items: flex-end;
	}
	.vk-icn {
		width: 173px;
		height: 182px;
	}
	.youtube-icn {
		width: 155px;
		height: 169px;
	}
	.inst-icn {
		width: 199px;
		height: 182px;
	}
}

.social__we-in-social {
	margin-right: 50px;
}
