.main-header {
  margin-bottom: 30px;
	.container {
    display: flex;
    margin-bottom: 100px;

		.burger-menu {
			margin-right: 24px;
		}
	}

	background-image: url("../images/mobile/border-header.png");
	background-repeat: no-repeat;
	width: 100%;
  background-position: bottom center;
}
