.menu-list-right {
	position: relative;

	.social__content {
		position: absolute;
		bottom: 0;
		left: 0;
	}
}

.menu-list-right__item {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;

	a {
		text-decoration: none;
		font-family: $opensans-font;

		&:hover {
			color: $color-orange;
		}
	}

	span.menu-list-right__title {
		color: $color-purple;
		font-size: 50px;
		display: block;
	}
}

.menu-list-right__text {
	font-family: $opensans-font;
}
