extends pug/base

append vars

block content

  main
    .background-line.background-line--top
      img.background-line__picture(src="images/top-back.png")
    .main-content
      .container
        .burger-menu
        h1.page-title Контакты

        h2.title Напиши

        ul.contacts-list
          li.contacts-list__item
            span Директор Поляков Евгений Викторович:
            span 
              a(href="mailto:info@mtvkursk.com") info@mtvkursk.com

          li.contacts-list__item
            span Менеджер Алёна Хайдарова:
            span 
              a(href="mailto:chaspik@mail.ru") chaspik@mail.ru

          li.contacts-list__item
            span Менеджер Ольга Семыкина:
            span 
              a(href="mailto:olga@mtvkursk.com") olga@mtvkursk.com

          li.contacts-list__item 
            span Менеджер Светлана Гладких:
            span 
              a(href="mailto:info@mtvkursk.com") svetlana@mtvkursk.com

          li.contacts-list__item 
            span Менеджер Татьяна Кондакова:
            span 
              a(href="mailto:tz@mtvkursk.com") tz@mtvkursk.com

          li.contacts-list__item
            span Менеджер Евгения Тиганова:
            span
              a(href="mailto:et@mtvkursk.com") et@mtvkursk.com

        .wrapper-bottom
          .wrapper-bottom__left
            h2.title Набери

            ul.contacts-list.contacts-list--noflex

              li.contacts-list__item.contacts-list__item--mode
                a(href="tel:84712546000") +7(4712) 546-000
              li.contacts-list__item.contacts-list__item--mode
                a(href="tel:84712749933") +7(4712) 749-933

            h2.title Так проще нас понять

            ul.contacts-list.contacts-list--noflex
              li.contacts-list__item.contacts-list__item--mode г.Курск, ул. Карла Либкнехта, 9а, 4 этаж.
          .wrapper-bottom__right
            img(src="images/wolf.png" alt="")

        .social-and-map
          .social
            .social__content
              a.social__links.vk-icn(href="#")
                img(src="../images/vk-icn.svg" alt="")
              a.social__links.youtube-icn(href="#")
                img(src="../images/youtube-icn.svg" alt="")
              a.social__links.inst-icn(href="#")
                img(src="../images/inst-icn.svg" alt="")
          .map
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2048.2936984408057!2d36.182054551193765!3d51.72799349345277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x412f03a035560aeb%3A0xd63ac160a3c7b395!2z0YPQuy4g0JrQsNGA0LvQsCDQm9C40LHQutC90LXRhdGC0LAsIDnQkCwg0JrRg9GA0YHQuiwg0JrRg9GA0YHQutCw0Y8g0L7QsdC7LiwgMzA1MDAx!5e0!3m2!1sru!2sru!4v1585561983753!5m2!1sru!2sru" width="726" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

    .background-line.background-line--bottom
      img.background-line__picture(src="images/bottom-back.png")

    .menu-wrapper
      .background-line.background-line--bottom
        img.background-line__picture(src="images/top-back.png")

      .container
        button.menu-close
          img(src="../images/menu-close.svg" alt="")
        .menu
          ul.menu-list-left
            li.menu-list-left__item
              a(href="#") Главная
            li.menu-list-left__item
              a(href="#") Калькулятор
            li.menu-list-left__item
              a(href="#") Спасибы
            li.menu-list-left__item
              a(href="#") Горячее
            li.menu-list-left__item
              a(href="#") Контакты
          ul.menu-list-right
            li.menu-list-right__item 
              span.menu-list-right__title Набери
              a(href="tel:84712546000") +7(4712) 546-000
              a(href="tel:84712749933") +7(4712) 749-933
            li.menu-list-right__item 
              span.menu-list-right__title Зайди
              span.menu-list-right__text г.Курск
              span.menu-list-right__text ул. Карла Либкнехта, 9а, 4 этаж.
            li.menu-list-right__item 
              span.menu-list-right__title Напиши
              a(href="mailto:info@mtvkursk.com") info@mtvkursk.com
              .social__content
                a.social__links.vk-icn(href="#")
                  img(src="../images/vk-icn.svg" alt="")
                a.social__links.youtube-icn(href="#")
                  img(src="../images/youtube-icn.svg" alt="")
                a.social__links.inst-icn(href="#")
                  img(src="../images/inst-icn.svg" alt="")
              
      .background-line.background-line--bottom.background-line--rotate
        img.background-line__picture(src="images/top-back.png")
