extends pug/base

append vars

block content

  main
    .background-line.background-line--top
      img.background-line__picture(src="images/top-back.png")
    .main-content
      .container
        .burger-menu
      .main-banner
        .main-banner__logo
          img(src="images/logo.svg", alt="")
        .main-banner__bus
          .main-banner__bus-bare
            img(src="images/bus/bus.png" alt="")
            .animate1
              img(src="images/bus/dim1.svg", alt="")
            .animate2
              img(src="images/bus/dim2.svg", alt="")
            .animate3
              img(src="images/bus/zaici.svg", alt="")
            .animate4
              img(src="images/bus/molinya1.svg", alt="")
            .animate5
              img(src="images/bus/molniya2.svg", alt="")
            .animate6
              img(src="images/bus/molniya3.svg", alt="")
            .animate7
            .animate8
            .animate9
            .animate10

          img(src="images/line-bus.svg" alt="" width="100%")

      .container
        .information
          .information__leftblock
            //- img(src="images/tv.png" alt="")
          .information__rightblock
            h2.information__title Чё делаем
            p.text Маршрутное телевидение – современный инструмент для эффективного вложения рекламных средств компании любого капитала и формата деятельности. Наше рекламное агентство – это профессиональный коллектив и современное оборудование, которое обеспечивает быстрое и качественное выполнение Ваших заказов по низким ценам.
            p.text Маршрутное телевидение – современный инструмент для эффективного вложения рекламных средств компании любого капитала и формата деятельности. Наше рекламное агентство – это профессиональный коллектив и современное оборудование, которое обеспечивает быстрое и качественное выполнение Ваших заказов по низким ценам.

        .hot-slider
          .hot-slider__inner
            .hot-slider__fire
              .hot-slider__fire-picture
                img(src="images/arrow-fire-l.png" alt="")
            .hot-slider__title Горячее
            .hot-slider__fire
              .hot-slider__fire-picture
                img(src="images/arrow-fire-r.png" alt="")
          .slick-slider-hot
            .slick-slider-hot__item
              .slick-slider-hot__top-border
                img(src="images/nav-icn.png" alt="")
              .slick-slider-hot__title Идем на рекорд
              p.text В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.
            .slick-slider-hot__item
              .slick-slider-hot__top-border
                img(src="images/nav-icn.png" alt="")
              .slick-slider-hot__title Идем на рекорд
              p.text В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.
            .slick-slider-hot__item
              .slick-slider-hot__top-border
                img(src="images/nav-icn.png" alt="")
              .slick-slider-hot__title Идем на рекорд
              p.text В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.
            .slick-slider-hot__item
              .slick-slider-hot__top-border
                img(src="images/nav-icn.png" alt="")
              .slick-slider-hot__title Идем на рекорд
              p.text В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.
            .slick-slider-hot__item
              .slick-slider-hot__top-border
                img(src="images/nav-icn.png" alt="")
              .slick-slider-hot__title Идем на рекорд
              p.text В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.
            .slick-slider-hot__item
              .slick-slider-hot__top-border
                img(src="images/nav-icn.png" alt="")
              .slick-slider-hot__title Идем на рекорд
              p.text В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.
            .slick-slider-hot__item
              .slick-slider-hot__top-border
                img(src="images/nav-icn.png" alt="")
              .slick-slider-hot__title Идем на рекорд
              p.text В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.
            .slick-slider-hot__item
              .slick-slider-hot__top-border
                img(src="images/nav-icn.png" alt="")
              .slick-slider-hot__title Идем на рекорд
              p.text В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.
          .hot-slider__eye
            a(href="#") все

        .calculator
          // Title calculator 
          .calculator__title Калькулятор рекламной <i class="br"></i> кампании
          .calculator__wrapper

            // calculator step 1
            .calculator-step.calculator-step1.active
              .calculator-step1__inner
                .calculator__inner
                  .calculator__left
                    p.text Текст про калькулятор в стиле "расчитайте свою рекламу с помощью нашего сервиса, это так просто бла бла бла"...Текст про калькулятор в стиле "расчитайте свою рекламу с помощью нашего сервиса, это так просто бла бла бла"...
                  .calculator__right

            // calculator step 2
            .calculator-step.calculator-step2
              .calculator-step2-wrapper
                ul.calculator-step2__list
                  li.calculator-step2__item
                    .calculator-step2__picture
                      img(src="images/check-1.svg" alt="" width="200")
                    input.input--mode(type="radio" id="check1" name="check1" value="1")
                    label(for="check1") Брендирование транспорта

                  li.calculator-step2__item
                    .calculator-step2__picture
                      img(src="images/check-2.svg" alt="" width="135")
                    input.input--mode(type="radio" id="check2" name="check1" value="1")
                    label(for="check2") Видеореклама

                  li.calculator-step2__item
                    .calculator-step2__picture
                      img(src="images/check-3.svg" alt="" width="242 ")
                    input.input--mode(type="radio" id="check3" name="check1" value="1")
                    label(for="check3") Реклама на спинках кресел

                  li.calculator-step2__item
                    .calculator-step2__picture
                      img(src="images/check-4.svg" alt="" width="228")
                    input.input--mode(type="radio" id="check4" name="check1" value="1")
                    label(for="check4") Реклама на стикерах

                ul.calculator-step2__list2
                  li.calculator-step2__item2
                    input.input(type="checkbox" id="bus1")
                    label(for="bus1" disabled).bus1
                      span Микроавтобус <br>
                      span (Ford, Merscedes, ГазельNext)
                  li.calculator-step2__item2
                    input.input(type="checkbox" id="bus2")
                    label(for="bus2" disabled).bus2
                      span Микроавтобус <br>
                      span (Ford, Merscedes, ГазельNext)
                  li.calculator-step2__item2
                    input.input(type="checkbox" id="paz1")
                    label(for="paz1" disabled).paz1
                      span Автобус ПАЗ
                  li.calculator-step2__item2
                    input.input(type="checkbox" id="paz2")
                    label(for="paz2" disabled).paz2
                      span Автобус ПАЗ

            // calculator step 3
            .calculator-step.calculator-step3
              ul.calculator-step3-top__list
                li
                  input(type="radio" id="input-step3-1" name="input-step3")
                  label(for="input-step3-1")
                    img(src="../images/calculator/bus1.png" alt="")
                li
                  input(type="radio" id="input-step3-2" name="input-step3")
                  label(for="input-step3-2")
                    img(src="../images/calculator/bus2.png" alt="")
                li
                  input(type="radio" id="input-step3-3" name="input-step3")
                  label(for="input-step3-3")
                    img(src="../images/calculator/bus3.png" alt="")
              ul.calculator-step3-bottom__list
                li
                  input(type="radio" id="input-step3-4" name="input-step3")
                  label(for="input-step3-4")
                    img(src="../images/calculator/bus4.png" alt="")
                li
                  input(type="radio" id="input-step3-5" name="input-step3")
                  label(for="input-step3-5")
                    img(src="../images/calculator/bus5.png" alt="")
              .select-wrapper
                .select-wrapper__inner
                  span Срок размещения
                  select.select-wrapper__select
                    option(value="value 1") Пункт 1
                    option(value="value 1") Пункт 2
                    option(value="value 1") Пункт 3
                    option(value="value 1") Пункт 4
                p Брендирование проводится перфорированной пленкой высокого качества на срок от 3-х месяцев. 
                p Предусмотрена индивадуальная подборка маршрута.


            // calculator step 4
            .calculator-step.calculator-step4
              ul.calculator-step4-top__list
                li
                  input(type="radio" id="input-step4-1" name="input-step4")
                  label(for="input-step4-1")
                    img(src="../images/calculator/bus6.png" alt="")
                li
                  input(type="radio" id="input-step4-2" name="input-step4")
                  label(for="input-step4-2")
                    img(src="../images/calculator/bus7.png" alt="")
              ul.calculator-step4-bottom__list
                li
                  input(type="radio" id="input-step4-3" name="input-step4")
                  label(for="input-step4-3")
                    img(src="../images/calculator/bus8.png" alt="")
              .select-wrapper
                .select-wrapper__inner
                  span Срок размещения
                  select.select-wrapper__select
                    option(value="value 1") Пункт 1
                    option(value="value 1") Пункт 2
                    option(value="value 1") Пункт 3
                    option(value="value 1") Пункт 4
                p Брендирование проводится перфорированной пленкой высокого качества на срок от 3-х месяцев. 
                p Предусмотрена индивадуальная подборка маршрута.

            // calculator step 5
            .calculator-step.calculator-step5
              .calculator-step5__wrapper
                ul.calculator-step5__left-list
                  li
                    input(type="radio" id="input-step5-1" name="input-step5")
                    label(for="input-step5-1")
                      .sheet
                        span A4
                  li
                    input(type="radio" id="input-step5-2" name="input-step5")
                    label(for="input-step5-2")
                      .sheet
                        span A4
                ul.calculator-step5__center-list
                  li
                    input(type="radio" id="input-step5-3" name="input-step5")
                    .calculator-step5__label-wrapper.label-top
                      label(for="input-step5-3")
                        .sheet
                          span A5
                      label(for="input-step5-3")
                        .sheet
                          span A5
                  li
                    input(type="radio" id="input-step5-4" name="input-step5")
                    .calculator-step5__label-wrapper.label-bottom
                      label(for="input-step5-4")
                        .sheet
                          span A5
                      label(for="input-step5-4")
                        .sheet
                          span A5
                ul.calculator-step5__right-list
                  li
                    input(type="radio" id="input-step5-5" name="input-step5")
                    label(for="input-step5-5")
                      .sheet
                        span A4
                  li
                    input(type="radio" id="input-step5-6" name="input-step5")
                    label(for="input-step5-6")
                      .sheet
                        span A4
                  li
                    input(type="radio" id="input-step5-7" name="input-step5")
                    label(for="input-step5-7")
                      .sheet
                        span A4
                  li
                    input(type="radio" id="input-step5-8" name="input-step5")
                    label(for="input-step5-8")
                      .sheet
                        span A4
              .select-wrapper
                .select-wrapper__inner
                  span Срок размещения
                  select.select-wrapper__select
                    option(value="value 1") Пункт 1
                    option(value="value 1") Пункт 2
                    option(value="value 1") Пункт 3
                    option(value="value 1") Пункт 4
                p Брендирование проводится перфорированной пленкой высокого качества на срок от 3-х месяцев. 
                p Предусмотрена индивадуальная подборка маршрута.


            // calculator step 6
            .calculator-step.calculator-step6
              .calculator-step6__wrapper
                ul.calculator-step6__left-list
                  li
                    input(type="checkbox" id="input-step6-1" name="input-step6-top")
                    label(for="input-step6-1")
                      .sheet.sheet-select
                        span A6+
                  li
                    input(type="radio" id="input-step6-2" name="input-step6")
                    label(for="input-step6-2")
                      .sheet
                        span A5
                  li
                    input(type="radio" id="input-step6-3" name="input-step6")
                    label(for="input-step6-3")
                      .sheet
                        span A5
                ul.calculator-step6__center-list
                  li
                    label(for="input-step6-4")
                      .sheet.sheet-select
                        span A6+
                  li
                    input(type="radio" id="input-step6-5" name="input-step6")
                    label(for="input-step6-5")
                      .sheet
                        span A4
                ul.calculator-step6__right-list
                  li
                    label(for="input-step6-6")
                      .sheet.sheet-select
                        span A6+
                  li
                    input(type="radio" id="input-step6-7" name="input-step6")
                    label(for="input-step6-7")
                      .sheet
                        span A4
              .select-wrapper
                .select-wrapper__inner
                  span Срок размещения
                  select.select-wrapper__select
                    option(value="value 1") Пункт 1
                    option(value="value 1") Пункт 2
                    option(value="value 1") Пункт 3
                    option(value="value 1") Пункт 4
                p Брендирование проводится перфорированной пленкой высокого качества на срок от 3-х месяцев. 
                p Предусмотрена индивадуальная подборка маршрута.

            // calculator step 7
            .calculator-step.calculator-step7
              .calculator-step7__wrapper
                .calculator-step7__top
                  ul.calculator-step7__top-left-list
                    li
                      input(type="radio" id="input-step7-1" name="input-step71")
                      label(for="input-step7-1")
                        .sheet
                          span A4
                  ul.calculator-step7__top-right-list
                    li
                      input(type="radio" id="input-step7-2" name="input-step72")
                      label(for="input-step7-2")
                        span 30 шт
                    li
                      input(type="radio" id="input-step7-3" name="input-step72")
                      label(for="input-step7-3")
                        span 40 шт
                    li
                      input(type="radio" id="input-step7-4" name="input-step72")
                      label(for="input-step7-4")
                        span 50 шт
                .calculator-step7__bottom
                  ul.calculator-step7__top-left-list
                    li
                      input(type="radio" id="input-step7-5" name="input-step71")
                      label(for="input-step7-5")
                        .sheet
                          span A3
                  ul.calculator-step7__top-right-list
                    li
                      input(type="radio" id="input-step7-6" name="input-step73")
                      label(for="input-step7-6")
                        span 30 шт
                    li
                      input(type="radio" id="input-step7-7" name="input-step73")
                      label(for="input-step7-7")
                        span 40 шт
                    li
                      input(type="radio" id="input-step7-8" name="input-step73")
                      label(for="input-step7-8")
                        span 50 шт
              p.text Минимальное размещение - 30 маршрутных такси, печать, ламинирование и монтаж рекламно-информационных материалов входит в стоимость размещения

            // calculator step 8
            .calculator-step.calculator-step8
              .calculator-step8__picture
                img(src="../images/luck.png", alt="")
              .calculator-step8__wrapper
                p.text Укажите свои контактные данные. В ближайшее время с Вами свяжется наш менеджер.
                ul.calculator-step8__list
                  li
                    label(for="name") ФИО
                    input(type="text" id="name")
                  li
                    label(for="email") E-mail
                    input(type="email" id="email")
                  li
                    label(for="phone") Номер
                    input(type="text" id="phone")
                  input(type="checkbox" id="concent")
                  label(for="concent") Я согласен с условиями обработки персональных данных

          // btn start
          button.btn-start.calculator__btn.calculator__start
            span Начать
            .calculator__picture-next
              img(src="images/mobile/arrow-next.svg" alt="")


          // Buttons calculator
          .calculator__btns
            button.btn-prev.calculator__btn.calculator__prev
              .calculator__picture-prev
                img(src="images/mobile/arrow-back.png" alt="")
              span Назад
            button.btn-next.calculator__btn.calculator__next
              span Далее
              .calculator__picture-next
                img(src="images/mobile/arrow-next.svg" alt="")

          .calculator__thanks Спасибы


      .brends
        .container
          .slick-slider-brends
            .slider-slick-brends__item
              .slick-slider-brends__pic
                img(src="images/brend1.svg" alt="")
            .slider-slick-brends__item
              .slick-slider-brends__pic
                img(src="images/brend2.svg" alt="")
            .slider-slick-brends__item
              .slick-slider-brends__pic
                img(src="images/brend3.svg" alt="")
            .slider-slick-brends__item
              .slick-slider-brends__pic
                img(src="images/brend4.png" alt="")
            .slider-slick-brends__item
              .slick-slider-brends__pic
                img(src="images/brend3.svg" alt="")
            .slider-slick-brends__item
              .slick-slider-brends__pic
                img(src="images/brend1.svg" alt="")
            .slider-slick-brends__item
              .slick-slider-brends__pic
                img(src="images/brend2.svg" alt="")
            .slider-slick-brends__item
              .slick-slider-brends__pic
                img(src="images/brend3.svg" alt="")
            .slider-slick-brends__item
              .slick-slider-brends__pic
                img(src="images/brend4.png" alt="")
            .slider-slick-brends__item
              .slick-slider-brends__pic
                img(src="images/brend3.svg" alt="")

    .contacts
      .container
        h2.contacts__title Контакты
        .contacts__top
          .contacts__item
            a.contacts__phone(href="tel:546000")
              img(src="images/phone.png" alt="" width="287" height="208")
            p.text 
              a(href="tel:546000") 546-000
          .contacts__item
            a.contacts__map
              img(src="images/map2.png" alt="")
            p.text г. Курск  ул. Карла Либкнехта дом 9а, 4 этаж
          .contacts__item
            a.contacts__mail(href="mailto:info@mtvkursk.com")
              img(src="images/mail.png" alt="" width="115" height="172px")
            p.text 
              a(href="mailto:info@mtvkursk.com") info@mtvkursk.com
        .contacts__bottom.social
          .social
            .social__we-in-social
              img(src="images/we-in-social.png" alt="")
            .social__content
              a.social__links.vk-icn(href="#")
                img(src="../images/vk-icn.svg" alt="")
              a.social__links.youtube-icn(href="#")
                img(src="../images/youtube-icn.svg" alt="")
              a.social__links.inst-icn(href="#")
                img(src="../images/inst-icn.svg" alt="")




    .background-line.background-line--bottom
      img.background-line__picture(src="images/bottom-back.png")

    .menu-wrapper
      .background-line.background-line--bottom
        img.background-line__picture(src="images/top-back.png")

      .container
        button.menu-close
          img(src="../images/menu-close.svg" alt="")
        .menu
          ul.menu-list-left
            li.menu-list-left__item
              a(href="#") Главная
            li.menu-list-left__item
              a(href="#") Калькулятор
            li.menu-list-left__item
              a(href="#") Спасибы
            li.menu-list-left__item
              a(href="#") Горячее
            li.menu-list-left__item
              a(href="#") Контакты
          ul.menu-list-right
            li.menu-list-right__item 
              span.menu-list-right__title Набери
              a(href="tel:84712546000") +7(4712) 546-000
              a(href="tel:84712749933") +7(4712) 749-933
            li.menu-list-right__item 
              span.menu-list-right__title Зайди
              span.menu-list-right__text г.Курск
              span.menu-list-right__text ул. Карла Либкнехта, 9а, 4 этаж.
            li.menu-list-right__item
              span.menu-list-right__title Напиши
              a(href="mailto:info@mtvkursk.com") info@mtvkursk.com
              .social__content
                a.social__links.vk-icn(href="#")
                  img(src="../images/vk-icn.svg" alt="")
                a.social__links.youtube-icn(href="#")
                  img(src="../images/youtube-icn.svg" alt="")
                a.social__links.inst-icn(href="#")
                  img(src="../images/inst-icn.svg" alt="")

      .background-line.background-line--bottom.background-line--rotate
        img.background-line__picture(src="images/top-back.png")