extends pug/base

append vars

block content

  main
    .background-line.background-line--top
      img.background-line__picture(src="images/top-back.png")

    section.main-header
      .container
        .burger-menu
        a(href="#").arrow-back
          img(src="images/arrow-prev.svg" alt="" width="94").arrow-back

      .main-banner
        video(src="../images/bus/bus-gif.webm" autoplay="true" loop="true")

    section.content
      .container
        h2.title-mobile.title-mobile--mode 
          span Че делаем
        p.text-mobile Маршрутное телевидение – современный инструмент для эффективного вложения рекламных средств компании любого капитала и формата деятельности. Наше рекламное агентство – это профессиональный коллектив и современное оборудование, которое обеспечивает быстрое и качественное выполнение Ваших заказов по низким ценам.

    section
      .hotter.container
        h2.hotter__title 
          span Горячее
          img(src="images/mobile/x2hot.png" alt="")
        .slick-slider-mobile__wrapper
          .slick-slider-mobile
            .slick-slider-mobile__item
              .slick-slider-mobile__border
                img(src="images/mobile/nav-icn.png" alt="")
              .slick-slider-mobile__content
                h2.slick-slider-mobile__title Идем на рекорд
                p.text-mobile В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.
            .slick-slider-mobile__item
              .slick-slider-mobile__border
                img(src="images/mobile/nav-icn.png" alt="")
              .slick-slider-mobile__content
                h2.slick-slider-mobile__title Идем на рекорд
                p.text-mobile В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.
            .slick-slider-mobile__item
              .slick-slider-mobile__border
                img(src="images/mobile/nav-icn.png" alt="")
              .slick-slider-mobile__content
                h2.slick-slider-mobile__title Идем на рекорд
                p.text-mobile В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.
            .slick-slider-mobile__item
              .slick-slider-mobile__border
                img(src="images/mobile/nav-icn.png" alt="")
              .slick-slider-mobile__content
                h2.slick-slider-mobile__title Идем на рекорд
                p.text-mobile В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.
            .slick-slider-mobile__item
              .slick-slider-mobile__border
                img(src="images/mobile/nav-icn.png" alt="")
              .slick-slider-mobile__content
                h2.slick-slider-mobile__title Идем на рекорд
                p.text-mobile В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.
          .hot-slider__eye
            a(href="#") все

    section.calculator-mobile
      .container
        h2.calculator-mobile__title Калькулятор рекламной компании
        // calculator step 1
        .calculator-step.mobile-step.calculator-step1.active
          .calculator-mobile__picture
            img(src="images/mobile/calculator-mobile.png" alt="")
          p.text Текст про калькулятор в стиле "расчитайте свою рекламу с помощью нашего сервиса, это так просто бла бла бла"...Текст про калькулятор в стиле "расчитайте свою рекламу с помощью нашего сервиса, это так просто бла бла бла"...

        // calculator step 2
        .calculator-step.calculator-mobile-step2.calculator-step2
          .calculator-mobile-step2__wrapper
            ul.calculator-mobile-step2__list-top
              li
                input(type="radio" id="input-mobile-step2-1" name="input-mobile-step11")
                label(for="input-mobile-step2-1")
                  span Брендирование транспорта
              li
                input(type="radio" id="input-mobile-step2-2" name="input-mobile-step11")
                label(for="input-mobile-step2-2")
                  span Видеореклама
              li
                input(type="radio" id="input-mobile-step2-3" name="input-mobile-step11")
                label(for="input-mobile-step2-3")
                  span Реклама на спинках кресел
              li
                input(type="radio" id="input-mobile-step2-4" name="input-mobile-step11")
                label(for="input-mobile-step2-4")
                  span Реклама на стикерах
            ul.calculator-mobile-step2__list-bottom
              li
                input(type="radio" id="input-mobile-step2-5" name="input-mobile-step11")
                label(for="input-mobile-step2-5" disabled)
                  span Микроавтобус 
                  span (Ford, Merscedes, ГазельNext) 
              li
                input(type="radio" id="input-mobile-step2-6" name="input-mobile-step11")
                label(for="input-mobile-step2-6" disabled)
                  span Автобус ПАЗ


        // calculator step 3
        .calculator-step.calculator-mobile-step3
          .calculator-mobile-step3__wrapper
            ul.calculator-mobile-step3__list
              li
                input(type="radio" id="input-mobile-step3-1" name="input-mobile-step31")
                label(for="input-mobile-step3-1")
                  span 4м2
                  .calculator-mobile-step3__picture
                    .calculator-mobile-step3__picture-inner
                      img(src="images/mobile/bus-calc-2-1.png" alt="")
              li
                input(type="radio" id="input-mobile-step3-2" name="input-mobile-step31")
                label(for="input-mobile-step3-2")
                  span 1,8м2
                  .calculator-mobile-step3__picture
                    .calculator-mobile-step3__picture-inner
                      img(src="images/mobile/bus-calc-2-2.png" alt="")
              li
                input(type="radio" id="input-mobile-step3-3" name="input-mobile-step31")
                label(for="input-mobile-step3-3")
                  span 2,4м2
                  .calculator-mobile-step3__picture
                    .calculator-mobile-step3__picture-inner
                      img(src="images/mobile/bus-calc-2-3.png" alt="")
              li
                input(type="radio" id="input-mobile-step3-4" name="input-mobile-step31")
                label(for="input-mobile-step3-4")
                  span 1,2м2
                  .calculator-mobile-step3__picture
                    .calculator-mobile-step3__picture-inner
                      img(src="images/mobile/bus-calc-2-4.png" alt="")
              li
                input(type="radio" id="input-mobile-step3-5" name="input-mobile-step31")
                label(for="input-mobile-step3-5")
                  span 3м2
                  .calculator-mobile-step3__picture
                    .calculator-mobile-step3__picture-inner
                      img(src="images/mobile/bus-calc-2-5.png" alt="")
            //- .calculator-mobile__select
            //-   span Срок размещения
            //-   select(name="Размещение")
            //-     option(value="Значение 1") Значение 1
            //-     option(value="Значение 2") Значение 2
            //-     option(value="Значение 3") Значение 3
            //-     option(value="Значение 4") Значение 4
            //- p.text Брендирование проводится перфорированной пленкой высокого качества на срок от 3-х месяцев. <br> Предусмотрена индивадуальная подборка маршрута.
       
       
        // calculator step 3-1
        .calculator-step.calculator-mobile-step3
          .calculator-mobile-step3__wrapper
            .calculator-mobile__select
              span Срок размещения
              select(name="Размещение")
                option(value="Значение 1") Значение 1
                option(value="Значение 2") Значение 2
                option(value="Значение 3") Значение 3
                option(value="Значение 4") Значение 4
            p.text Брендирование проводится перфорированной пленкой высокого качества на срок от 3-х месяцев. <br> Предусмотрена индивадуальная подборка маршрута.


        // calculator step 4
        .calculator-step.calculator-mobile-step3
          .calculator-mobile-step3__wrapper
            ul.calculator-mobile-step3__list
              li
                input(type="radio" id="input-mobile-step4-1" name="input-mobile-step41")
                label(for="input-mobile-step4-1")
                  span 1,3м2
                  .calculator-mobile-step3__picture
                    .calculator-mobile-step3__picture-inner
                      img(src="images/mobile/bus-calc-2-6.png" alt="")
              li
                input(type="radio" id="input-mobile-step4-2" name="input-mobile-step41")
                label(for="input-mobile-step4-2")
                  span 1,3м2
                  .calculator-mobile-step3__picture
                    .calculator-mobile-step3__picture-inner
                      img(src="images/mobile/bus-calc-2-7.png" alt="")
              li
                input(type="radio" id="input-mobile-step4-3" name="input-mobile-step41")
                label(for="input-mobile-step4-3")
                  span 2,3м2  
                  .calculator-mobile-step3__picture
                    .calculator-mobile-step3__picture-inner
                      img(src="images/mobile/bus-calc-2-8.png" alt="")

        // calculator step 4-1
        .calculator-step.calculator-mobile-step3
          .calculator-mobile-step3__wrapper
            .calculator-mobile__select
              span Срок размещения
              select(name="Размещение")
                option(value="Значение 1") Значение 1
                option(value="Значение 2") Значение 2
                option(value="Значение 3") Значение 3
                option(value="Значение 4") Значение 4
            p.text Брендирование проводится перфорированной пленкой высокого качества на срок от 3-х месяцев. <br> Предусмотрена индивадуальная подборка маршрута.


        // calculator step 5-1
        .calculator-step.calculator-mobile-step5-1
          .calculator-mobile-step5-1__wrapper
            ul.calculator-mobile-step5-1__list
              li
                input(type="radio" id="input-mobile-step5-1" name="input-mobile-step51")
                label(for="input-mobile-step5-1")
                  span A4
              li
                input(type="radio" id="input-mobile-step5-2" name="input-mobile-step51")
                label(for="input-mobile-step5-2")
                  span A5
              li
                input(type="radio" id="input-mobile-step5-3" name="input-mobile-step51")
                label(for="input-mobile-step5-3")
                  span A5 +
            p.text Расположение на банере
            ul.calculator-mobile-step5-2__list
              li
                input(type="radio" id="input-mobile-step5-4" name="input-mobile-step52")
                label(for="input-mobile-step5-4")
                  .sheet
                    span A4
              li
                input(type="radio" id="input-mobile-step5-5" name="input-mobile-step52")
                label(for="input-mobile-step5-5")
                  .sheet
                    span A4

        // calculator step 5-1
        .calculator-step.calculator-mobile-step5-1
          .calculator-mobile-step5-1__wrapper
          .calculator-mobile__select
            span Срок размещения
            select(name="Размещение")
              option(value="Значение 1") Значение 1
              option(value="Значение 2") Значение 2
              option(value="Значение 3") Значение 3
              option(value="Значение 4") Значение 4
          p.text Брендирование проводится перфорированной пленкой высокого качества на срок от 3-х месяцев. <br> Предусмотрена индивадуальная подборка маршрута.

        // calculator step 5-2
        .calculator-step.calculator-mobile-step5-2
          p.text Варианты расположени
          .calculator-mobile-step5-2__wrapper
            ul.calculator-mobile-step5-2__list
              li
                input(type="radio" id="input-mobile-step5-4" name="input-mobile-step52")
                label(for="input-mobile-step5-4")
                  .sheet
                    span A4
              li
                input(type="radio" id="input-mobile-step5-5" name="input-mobile-step52")
                label(for="input-mobile-step5-5")
                  .sheet
                    span A4
          .calculator-mobile__select
            span Срок размещения
            select(name="Размещение")
              option(value="Значение 1") Значение 1
              option(value="Значение 2") Значение 2
              option(value="Значение 3") Значение 3
              option(value="Значение 4") Значение 4
          p.text Брендирование проводится перфорированной пленкой высокого качества на срок от 3-х месяцев. <br> Предусмотрена индивадуальная подборка маршрута.


        // calculator step 6-1
        .calculator-step.calculator-mobile-step5-1
          .calculator-mobile-step5-1__wrapper
            ul.calculator-mobile-step5-1__list
              li
                input(type="radio" id="input-mobile-step6-1" name="input-mobile-step61")
                label(for="input-mobile-step6-1")
                  span A4
              li
                input(type="radio" id="input-mobile-step6-2" name="input-mobile-step61")
                label(for="input-mobile-step6-2")
                  span A5
              li
                input(type="radio" id="input-mobile-step6-3" name="input-mobile-step61")
                label(for="input-mobile-step6-3")
                  span A5 +

          .calculator-mobile__select
            span Срок размещения
            select(name="Размещение")
              option(value="Значение 1") Значение 1
              option(value="Значение 2") Значение 2
              option(value="Значение 3") Значение 3
              option(value="Значение 4") Значение 4
          p.text Брендирование проводится перфорированной пленкой высокого качества на срок от 3-х месяцев. <br> Предусмотрена индивадуальная подборка маршрута.

        // calculator step 6-2
        .calculator-step.calculator-mobile-step5-2
          p.text Варианты расположени
          .calculator-mobile-step5-2__wrapper
            ul.calculator-mobile-step5-2__list
              li
                input(type="radio" id="input-mobile-step6-4" name="input-mobile-step62")
                label(for="input-mobile-step6-4")
                  .sheet
                    span A4
              li
                input(type="radio" id="input-mobile-step6-5" name="input-mobile-step62")
                label(for="input-mobile-step6-5")
                  .sheet
                    span A4
          .calculator-mobile__select
            span Срок размещения
            select(name="Размещение")
              option(value="Значение 1") Значение 1
              option(value="Значение 2") Значение 2
              option(value="Значение 3") Значение 3
              option(value="Значение 4") Значение 4
          p.text Брендирование проводится перфорированной пленкой высокого качества на срок от 3-х месяцев. <br> Предусмотрена индивадуальная подборка маршрута.

        // calculator step 7-1
        .calculator-step.calculator-mobile-step5-1
          .calculator-mobile-step5-1__wrapper
            ul.calculator-mobile-step5-1__list
              li
                input(type="radio" id="input-mobile-step7-1" name="input-mobile-step71")
                label(for="input-mobile-step7-1")
                  span 30 шт
              li
                input(type="radio" id="input-mobile-step7-2" name="input-mobile-step71")
                label(for="input-mobile-step7-2")
                  span 40 шт
              li
                input(type="radio" id="input-mobile-step7-3" name="input-mobile-step71")
                label(for="input-mobile-step7-3")
                  span 50 шт

          p.text Минимальное размещение - 30 маршрутных такси, печать, ламинирование и монтаж рекламно-информационных материалов входит в стоимость размещения

        // calculator step 7-2
        .calculator-step.calculator-mobile-step5-2
          p.text Варианты расположени
          .calculator-mobile-step5-2__wrapper
            ul.calculator-mobile-step5-2__list
              li
                input(type="radio" id="input-mobile-step7-4" name="input-mobile-step72")
                label(for="input-mobile-step7-4")
                  .sheet
                    span A4
              li
                input(type="radio" id="input-mobile-step7-5" name="input-mobile-step72")
                label(for="input-mobile-step7-5")
                  .sheet
                    span A3

          p.text Минимальное размещение - 30 маршрутных такси, печать, ламинирование и монтаж рекламно-информационных материалов входит в стоимость размещения


        // calculator step 8
        .calculator-step.calculator-mobile-step8
          .calculator-mobile-step8__wrapper
            p.text Укажите свои контактные данные. В ближайшее время с Вами свяжется наш менеджер.
            ul.calculator-mobile-step8__list
              li
                input(type="text" id="name" placeholder="ФИО")
              li
                input(type="email" id="email" placeholder="Почтовый адрес")
              li
                input(type="text" id="phone" placeholder="Номер телефона")
              input(type="checkbox" id="concent")
              label(for="concent") Я согласен с условиями обработки персональных данных

      // btn start
      button.btn-start.calculator__btn.calculator__start
        span Начать
        .calculator__picture-next
          img(src="images/arrow-next.svg" alt="" width="81")

      // Buttons calculator
      .calculator__btns
        button.btn-prev.calculator__btn.calculator__prev
          .calculator__picture-prev
            img(src="images/arrow-prev.svg" alt="" width="94")
        button.btn-next.calculator__btn.calculator__next
          .calculator__picture-next
            img(src="images/arrow-next.svg" alt="" width="94")


      .calculator__thanks.calculator__thanks--mobile Спасибы

    section.brends.brends--mobile
      .container
        .slick-slider-brends-mobile
          .slider-slick-brends__item
            .slick-slider-brends__pic
              img(src="images/brend1.svg" alt="")
          .slider-slick-brends__item
            .slick-slider-brends__pic
              img(src="images/brend2.svg" alt="")
          .slider-slick-brends__item
            .slick-slider-brends__pic
              img(src="images/brend3.svg" alt="")
          .slider-slick-brends__item
            .slick-slider-brends__pic
              img(src="images/brend4.png" alt="")
          .slider-slick-brends__item
            .slick-slider-brends__pic
              img(src="images/brend3.svg" alt="")
          .slider-slick-brends__item
            .slick-slider-brends__pic
              img(src="images/brend1.svg" alt="")
          .slider-slick-brends__item
            .slick-slider-brends__pic
              img(src="images/brend2.svg" alt="")
          .slider-slick-brends__item
            .slick-slider-brends__pic
              img(src="images/brend3.svg" alt="")
          .slider-slick-brends__item
            .slick-slider-brends__pic
              img(src="images/brend4.png" alt="")
          .slider-slick-brends__item
            .slick-slider-brends__pic
              img(src="images/brend3.svg" alt="")

    section.contacts-mobile
      .container
        h2.title-mobile Контакты
        ul.contacts-mobile-list
          li.contacts-mobile-list__item
            a.contacts-mobile-list__link(href="tel:546000")
              .contacts-mobile-list__pic
                img(src="images/mobile/phone.png" alt="")
              span 546-000
          li.contacts-mobile-list__item
            a.contacts-mobile-list__link
              .contacts-mobile-list__pic
                img(src="images/mobile/world.png" alt="")
              span г. Курск  ул. Карла Либкнехта дом 9а, 4 этаж
          li.contacts-mobile-list__item
            a.contacts-mobile-list__link(href="mailto:info@mtvkursk.com")
              .contacts-mobile-list__pic
                img(src="images/mobile/mail.png" alt="")
              span info@mtvkursk.com

    section.social-mobile
      .container
        .social.social--mobile
          .social__we-in-social.social__we-in-social--mobile
            img(src="images/mobile/we-in-social.png" alt="")
          .social__content.social__content--mobile
            a.social__links.vk-icn(href="#")
              img(src="../images/vk-icn.svg" alt="")
            a.social__links.youtube-icn(href="#")
              img(src="../images/youtube-icn.svg" alt="")
            a.social__links.inst-icn(href="#")
              img(src="../images/inst-icn.svg" alt="")



    .background-line.background-line--bottom
      img.background-line__picture(src="images/bottom-back.png")

    .menu-wrapper
      .background-line.background-line--bottom
        img.background-line__picture(src="images/top-back.png")

      .container
        button.menu-close
          img(src="../images/menu-close.svg" alt="")
        .menu
          ul.menu-list-left
            li.menu-list-left__item
              a(href="#") Главная
            li.menu-list-left__item
              a(href="#") Калькулятор
            li.menu-list-left__item
              a(href="#") Спасибы
            li.menu-list-left__item
              a(href="#") Горячее
            li.menu-list-left__item
              a(href="#") Контакты
          ul.menu-list-right
            li.menu-list-right__item 
              span.menu-list-right__title Набери
              a(href="tel:84712546000") +7(4712) 546-000
              a(href="tel:84712749933") +7(4712) 749-933
            li.menu-list-right__item 
              span.menu-list-right__title Зайди
              span.menu-list-right__text г.Курск
              span.menu-list-right__text ул. Карла Либкнехта, 9а, 4 этаж.
            li.menu-list-right__item 
              span.menu-list-right__title Напиши
              a(href="mailto:info@mtvkursk.com") info@mtvkursk.com
              .social__content
                a.social__links.vk-icn(href="#")
                  img(src="../images/vk-icn.svg" alt="")
                a.social__links.youtube-icn(href="#")
                  img(src="../images/youtube-icn.svg" alt="")
                a.social__links.inst-icn(href="#")
                  img(src="../images/inst-icn.svg" alt="")

      .background-line.background-line--bottom.background-line--rotate
        img.background-line__picture(src="images/top-back.png")