extends pug/base

append vars

block content

  main
    .background-line.background-line--top
      img.background-line__picture(src="images/top-back.png")
    .main-content
      .container
        .burger-menu
      .main-banner
        .main-banner__logo
          img(src="images/logo.svg", alt="")
        .main-banner__bus
          .main-banner__bus-bare
            img(src="images/bus/bus.png" alt="")
            .animate1
              img(src="images/bus/dim1.svg", alt="")
            .animate2
              img(src="images/bus/dim2.svg", alt="")
            .animate3
              img(src="images/bus/zaici.svg", alt="")
            .animate4
              img(src="images/bus/molinya1.svg", alt="")
            .animate5
              img(src="images/bus/molniya2.svg", alt="")
            .animate6
              img(src="images/bus/molniya3.svg", alt="")
            .animate7
              img(src="images/bus/coleso.svg", alt="")
            .animate8
              img(src="images/bus/coleso.svg", alt="")
            .animate9
              img(src="images/bus/izcoles1.svg", alt="")
            .animate10
              img(src="images/bus/izcoles2.svg", alt="")
            .animate11
              img(src="images/bus/fari.svg", alt="")

          img(src="images/line-bus.svg" alt="" width="100%")

      .container
        .information
          .information__leftblock
            //- img(src="images/tv.png" alt="")
          .information__rightblock
            h2.information__title Чё делаем
            p.text Маршрутное телевидение – современный инструмент для эффективного вложения рекламных средств компании любого капитала и формата деятельности. Наше рекламное агентство – это профессиональный коллектив и современное оборудование, которое обеспечивает быстрое и качественное выполнение Ваших заказов по низким ценам.
            p.text Маршрутное телевидение – современный инструмент для эффективного вложения рекламных средств компании любого капитала и формата деятельности. Наше рекламное агентство – это профессиональный коллектив и современное оборудование, которое обеспечивает быстрое и качественное выполнение Ваших заказов по низким ценам.

        .hot-slider
          .hot-slider__inner
            .hot-slider__fire
              .hot-slider__fire-picture
                img(src="images/arrow-fire-l.png" alt="")
            .hot-slider__title Горячее
            .hot-slider__fire
              .hot-slider__fire-picture
                img(src="images/arrow-fire-r.png" alt="")
          .slick-slider-hot
            .slick-slider-hot__item
              .slick-slider-hot__top-border
                img(src="images/nav-icn.png" alt="")
              .slick-slider-hot__title Идем на рекорд
              p.text В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.
            .slick-slider-hot__item
              .slick-slider-hot__top-border
                img(src="images/nav-icn.png" alt="")
              .slick-slider-hot__title Идем на рекорд
              p.text В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.
            .slick-slider-hot__item
              .slick-slider-hot__top-border
                img(src="images/nav-icn.png" alt="")
              .slick-slider-hot__title Идем на рекорд
              p.text В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.
            .slick-slider-hot__item
              .slick-slider-hot__top-border
                img(src="images/nav-icn.png" alt="")
              .slick-slider-hot__title Идем на рекорд
              p.text В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.
            .slick-slider-hot__item
              .slick-slider-hot__top-border
                img(src="images/nav-icn.png" alt="")
              .slick-slider-hot__title Идем на рекорд
              p.text В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.
            .slick-slider-hot__item
              .slick-slider-hot__top-border
                img(src="images/nav-icn.png" alt="")
              .slick-slider-hot__title Идем на рекорд
              p.text В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.
            .slick-slider-hot__item
              .slick-slider-hot__top-border
                img(src="images/nav-icn.png" alt="")
              .slick-slider-hot__title Идем на рекорд
              p.text В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.
            .slick-slider-hot__item
              .slick-slider-hot__top-border
                img(src="images/nav-icn.png" alt="")
              .slick-slider-hot__title Идем на рекорд
              p.text В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.
          .hot-slider__eye
            a(href="#") все

        .calculator
          //-  Title calculator 
          .calculator__title Калькулятор рекламной <i class="br"></i> кампании
          .calculator__wrapper
            //- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

            //-  calculator step 1
            .calculator-step.calculator-step1.active
              .calculator-step1__inner
                .calculator__inner
                  .calculator__left
                    p.text Текст про калькулятор в стиле "расчитайте свою рекламу с помощью нашего сервиса, это так просто бла бла бла"...Текст про калькулятор в стиле "расчитайте свою рекламу с помощью нашего сервиса, это так просто бла бла бла"...
                  .calculator__right

            //- step 2
            .calculator-step.step2
              .step2__wrapper
                ul.step2__top
                  li
                    label(for="step2-1").radio1
                      .step2__top-pic
                        img(src="../images/calculator/check-1.svg", alt="" width="202")
                      input(type="radio" name="step2-top" id="step2-1" value="Брендирование транспорта")
                      span.el Брендирование транспорта
                  li
                    label(for="step2-2").radio1
                      .step2__top-pic
                        img(src="../images/calculator/check-2.svg", alt="" width="117")
                      input(type="radio" name="step2-top" id="step2-2" value="Видеореклама")
                      span.el Видеореклама
                  li
                    label(for="step2-3").radio1
                      .step2__top-pic
                        img(src="../images/calculator/check-3.svg", alt="" width="177")
                      input(type="radio" name="step2-top" id="step2-3" value="Реклама на спинках кресел")
                      span.el Реклама на спинках кресел
                  li
                    label(for="step2-4").radio1
                      .step2__top-pic
                        img(src="../images/calculator/check-4.svg", alt="" width="228")
                      input(type="radio" name="step2-top" id="step2-4" value="Реклама на стикерах")
                      span.el Реклама на стикерах
                ul.step2__bottom
                  li
                    label(for="step2-5").radio2
                      input(type="radio" name="step2-bottom-1" id="step2-5" value="Микроавтобус")
                      span.el Микроавтобус <br> (Ford, Merscedes, ГазельNext)
                  li
                    label(for="step2-6").radio2
                      input(type="radio" name="step2-bottom-2" id="step2-6" value="Микроавтобус")
                      span.el Микроавтобус <br> (Ford, Merscedes, ГазельNext)
                  li
                    label(for="step2-7").radio2
                      input(type="radio" name="step2-bottom-1" id="step2-7" value="Микроавтобус")
                      span.el Автобус ПАЗ
                  li
                    label(for="step2-8").radio2
                      input(type="radio" name="step2-bottom-2" id="step2-8" value="Автобус ПАЗ")
                      span.el Автобус ПАЗ

            .calculator-step.step3
              .step3__wrapper
                ul.step3__top
                  li.radio3
                    label(for="step3-1")
                      input(type="radio" name="step3" id="step3-1" value="Микроавтобус 4м")
                      span.step3__top-pic.el
                        img(src="../images/calculator/bus1.png", alt="", width="320")
                  li.radio3
                    label(for="step3-2")
                      input(type="radio" name="step3" id="step3-2" value="Микроавтобус 1,8м")
                      span.step3__top-pic.el
                        img(src="../images/calculator/bus2.png", alt="", width="320")
                  li.radio3
                    label(for="step3-3")
                      input(type="radio" name="step3" id="step3-3" value="Микроавтобус 2,4м")
                      span.step3__top-pic.el
                        img(src="../images/calculator/bus3.png", alt="", width="320")
                ul.step3__bottom
                  li.radio3
                    label(for="step3-4")
                      input(type="radio" name="step3" id="step3-4" value="Микроавтобус 1,2м")
                      span.step3__bottom-pic.el
                        img(src="../images/calculator/bus4.png", alt="", width="161")
                  li.radio3
                    label(for="step3-5")
                      input(type="radio" name="step3" id="step3-5" value="Микроавтобус 3м")
                      span.step3__bottom-pic.el
                        img(src="../images/calculator/bus5.png", alt="", width="161")
                .select
                  .select__top
                    span Срок размещения
                    select
                      option(value="Срок размещения 1") Срок размещения 1
                      option(value="Срок размещения 2") Срок размещения 2
                      option(value="Срок размещения 3") Срок размещения 3
                  .select__bottom
                    span Брендирование проводится перфорированной пленкой высокого качества на срок от 3-х месяцев.  
                    span Предусмотрена индивадуальная подборка маршрута.

            .calculator-step.step4
              .step4__wrapper
                ul.step4__top
                  li.radio3
                    label(for="step4-1")
                      input(type="radio" name="step4" id="step4-1" value="Автобус 1,3м с боку")
                      span.step4__pic.el
                        img(src="../images/calculator/bus6.png", alt="")
                  li.radio3
                    label(for="step4-2")
                      input(type="radio" name="step4" id="step4-2" value="Автобус 2,3м с боку")
                      span.step4__pic.el
                        img(src="../images/calculator/bus7.png", alt="")
                ul.step4__bottom
                  li.radio3
                    label(for="step4-3")
                      input(type="radio" name="step4" id="step4-3" value="Автобус 1,3м сзади")
                      span.step4__pic.el
                        img(src="../images/calculator/bus8.png", alt="")
                .select
                  .select__top
                    span Срок размещения
                    select
                      option(value="Срок размещения 1") Срок размещения 1
                      option(value="Срок размещения 2") Срок размещения 2
                      option(value="Срок размещения 3") Срок размещения 3
                  .select__bottom
                    span Брендирование проводится перфорированной пленкой высокого качества на срок от 3-х месяцев.  
                    span Предусмотрена индивадуальная подборка маршрута.

            .calculator-step.step7
              .step7__wrapper
                .step7__top
                  ul.step7__top-left
                    li.radio4
                      label(for="step7-1")
                        input(type="radio" name="step7-1" id="step7-1" value="Формат А4")
                        .sheet.el
                          span A4
                  ul.step7__top-right
                    li.radio4
                      label(for="step7-2").el
                        input(type="radio" name="step7-2" id="step7-2" value="Формат А4-30шт")
                        span.el 30 шт
                    li.radio4
                      label(for="step7-3")
                        input(type="radio" name="step7-2" id="step7-3" value="Формат А4-40шт")
                        span.el 40 шт
                    li.radio4
                      label(for="step7-4")
                        input(type="radio" name="step7-2" id="step7-4" value="Формат А4-50шт")
                        span.el 50 шт
                .step7__bottom
                  ul.step7__bottom-left
                    li.radio4
                      label(for="step7-5")
                        input(type="radio" name="step7-1" id="step7-5" value="Формат А3")
                        .sheet.el
                          span A3
                  ul.step7__bottom-right
                    li.radio4
                      label(for="step7-6")
                        input(type="radio" name="step7-3" id="step7-6" value="Формат А3-30щт")
                        span.el 30 шт
                    li.radio4
                      label(for="step7-7")
                        input(type="radio" name="step7-3" id="step7-7" value="Формат А3-40шт")
                        span.el 40 шт
                    li.radio4
                      label(for="step7-8")
                        input(type="radio" name="step7-3" id="step7-8" value="Формат А3-50шт")
                        span.el 50 шт
                p Минимальное размещение - 30 маршрутных такси, печать, ламинирование и монтаж рекламно-информационных материалов входит в стоимость размещения

            .calculator-step.step8
              .step8__wrapper
                p Укажите свои контактные данные. В ближайшее время с Вами свяжется наш менеджер.
                form(action="")
                  ul.step8__list
                    li
                      label(for="")
                        span ФИО
                        input(type="text")
                    li
                      label(for="")
                        span E-mail
                        input(type="text")
                    li
                      label(for="")
                        span Номер
                        input(type="text")
                label(for="concent")
                  input(type="checkbox" id="concent" value="Согласие на обработку персональных данных")
                  span Я согласен с условиями обрабьотки персональных данных











          //- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

          //-  btn start
          button.btn-start.calculator__btn.calculator__start
            span Начать
            .calculator__picture-next
              img(src="images/arrow-next.svg" alt="" width="93")


          //-  Buttons calculator
          .calculator__btns
            button.btn-prev.calculator__btn.calculator__prev
              .calculator__picture-prev
                img(src="images/arrow-prev.svg" alt="" width="93")
              span Назад
            button.btn-next.calculator__btn.calculator__next
              span Далее
              .calculator__picture-next
                img(src="images/arrow-next.svg" alt="" width="93")

          .calculator__thanks Спасибы


      .brends
        .container
          .slick-slider-brends
            .slider-slick-brends__item
              .slick-slider-brends__pic
                img(src="images/brend1.svg" alt="")
            .slider-slick-brends__item
              .slick-slider-brends__pic
                img(src="images/brend2.svg" alt="")
            .slider-slick-brends__item
              .slick-slider-brends__pic
                img(src="images/brend3.svg" alt="")
            .slider-slick-brends__item
              .slick-slider-brends__pic
                img(src="images/brend4.png" alt="")
            .slider-slick-brends__item
              .slick-slider-brends__pic
                img(src="images/brend3.svg" alt="")
            .slider-slick-brends__item
              .slick-slider-brends__pic
                img(src="images/brend1.svg" alt="")
            .slider-slick-brends__item
              .slick-slider-brends__pic
                img(src="images/brend2.svg" alt="")
            .slider-slick-brends__item
              .slick-slider-brends__pic
                img(src="images/brend3.svg" alt="")
            .slider-slick-brends__item
              .slick-slider-brends__pic
                img(src="images/brend4.png" alt="")
            .slider-slick-brends__item
              .slick-slider-brends__pic
                img(src="images/brend3.svg" alt="")

    .contacts
      .container
        h2.contacts__title Контакты
        .contacts__top
          .contacts__item
            a.contacts__phone(href="tel:546000")
              img(src="images/phone.png" alt="" width="287" height="208")
            p.text 
              a(href="tel:546000") 546-000
          .contacts__item
            a.contacts__map
              img(src="images/map2.png" alt="")
            p.text г. Курск  ул. Карла Либкнехта дом 9а, 4 этаж
          .contacts__item
            a.contacts__mail(href="mailto:info@mtvkursk.com")
              img(src="images/mail.png" alt="" width="115" height="172px")
            p.text 
              a(href="mailto:info@mtvkursk.com") info@mtvkursk.com
        .contacts__bottom.social
          .social
            .social__we-in-social
              img(src="images/we-in-social.png" alt="")
            .social__content
              a.social__links.vk-icn(href="#")
                img(src="../images/vk-icn.svg" alt="")
              a.social__links.youtube-icn(href="#")
                img(src="../images/youtube-icn.svg" alt="")
              a.social__links.inst-icn(href="#")
                img(src="../images/inst-icn.svg" alt="")




    .background-line.background-line--bottom
      img.background-line__picture(src="images/bottom-back.png")

    .menu-wrapper
      .background-line.background-line--bottom
        img.background-line__picture(src="images/top-back.png")

      .container
        button.menu-close
          img(src="../images/menu-close.svg" alt="")
        .menu
          ul.menu-list-left
            li.menu-list-left__item
              a(href="#") Главная
            li.menu-list-left__item
              a(href="#") Калькулятор
            li.menu-list-left__item
              a(href="#") Спасибы
            li.menu-list-left__item
              a(href="#") Горячее
            li.menu-list-left__item
              a(href="#") Контакты
          ul.menu-list-right
            li.menu-list-right__item 
              span.menu-list-right__title Набери
              a(href="tel:84712546000") +7(4712) 546-000
              a(href="tel:84712749933") +7(4712) 749-933
            li.menu-list-right__item 
              span.menu-list-right__title Зайди
              span.menu-list-right__text г.Курск
              span.menu-list-right__text ул. Карла Либкнехта, 9а, 4 этаж.
            li.menu-list-right__item
              span.menu-list-right__title Напиши
              a(href="mailto:info@mtvkursk.com") info@mtvkursk.com
              .social__content
                a.social__links.vk-icn(href="#")
                  img(src="../images/vk-icn.svg" alt="")
                a.social__links.youtube-icn(href="#")
                  img(src="../images/youtube-icn.svg" alt="")
                a.social__links.inst-icn(href="#")
                  img(src="../images/inst-icn.svg" alt="")

      .background-line.background-line--bottom.background-line--rotate
        img.background-line__picture(src="images/top-back.png")