extends pug/base

append vars

block content

  main
    .background-line.background-line--top
      img.background-line__picture(src="images/top-back.png")
    .main-content
      .container
        .burger-menu
      .main-banner
        img(src="images/bus.png" alt="")

      .container
        .information
          .information__leftblock
            //- img(src="images/tv.png" alt="")
          .information__rightblock
            h2.information__title Чё делаем
            p.text Маршрутное телевидение – современный инструмент для эффективного вложения рекламных средств компании любого капитала и формата деятельности. Наше рекламное агентство – это профессиональный коллектив и современное оборудование, которое обеспечивает быстрое и качественное выполнение Ваших заказов по низким ценам.
            p.text Маршрутное телевидение – современный инструмент для эффективного вложения рекламных средств компании любого капитала и формата деятельности. Наше рекламное агентство – это профессиональный коллектив и современное оборудование, которое обеспечивает быстрое и качественное выполнение Ваших заказов по низким ценам.

        .hot-slider
          .hot-slider__inner
            .hot-slider__fire
              .hot-slider__fire-picture
                img(src="images/arrow-fire-l.png" alt="")
            .hot-slider__title Горячее
            .hot-slider__fire
              .hot-slider__fire-picture
                img(src="images/arrow-fire-r.png" alt="")
          .slick-slider-hot
            .slick-slider-hot__item
              .slick-slider-hot__top-border
                img(src="images/nav-icn.png" alt="")
              .slick-slider-hot__title Идем на рекорд
              p.text В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.
            .slick-slider-hot__item
              .slick-slider-hot__top-border
                img(src="images/nav-icn.png" alt="")
              .slick-slider-hot__title Идем на рекорд
              p.text В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.
            .slick-slider-hot__item
              .slick-slider-hot__top-border
                img(src="images/nav-icn.png" alt="")
              .slick-slider-hot__title Идем на рекорд
              p.text В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.
            .slick-slider-hot__item
              .slick-slider-hot__top-border
                img(src="images/nav-icn.png" alt="")
              .slick-slider-hot__title Идем на рекорд
              p.text В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.
            .slick-slider-hot__item
              .slick-slider-hot__top-border
                img(src="images/nav-icn.png" alt="")
              .slick-slider-hot__title Идем на рекорд
              p.text В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.
            .slick-slider-hot__item
              .slick-slider-hot__top-border
                img(src="images/nav-icn.png" alt="")
              .slick-slider-hot__title Идем на рекорд
              p.text В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.
            .slick-slider-hot__item
              .slick-slider-hot__top-border
                img(src="images/nav-icn.png" alt="")
              .slick-slider-hot__title Идем на рекорд
              p.text В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.
            .slick-slider-hot__item
              .slick-slider-hot__top-border
                img(src="images/nav-icn.png" alt="")
              .slick-slider-hot__title Идем на рекорд
              p.text В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.В апреле 2018 года был достигнут достигнут рекорд – 200 единиц ТС с рекламными-чехлами подголовниками.
          .hot-slider__eye
            a(href="#") все

        .calculator
          // Title calculator 
          .calculator__title Калькулятор рекламной <i class="br"></i> кампании
          .calculator__wrapper

            // calculator step 1
            .calculator-step.calculator-step1.active
              .calculator-step1__inner
                .calculator__inner
                  .calculator__left
                    p.text Текст про калькулятор в стиле "расчитайте свою рекламу с помощью нашего сервиса, это так просто бла бла бла"...Текст про калькулятор в стиле "расчитайте свою рекламу с помощью нашего сервиса, это так просто бла бла бла"...
                  .calculator__right

            // calculator step 2
            .calculator-step.calculator-step2
              .calculator__inner
                .calculator-step2-wrapper
                  ul.calculator-step2__list
                    li.calculator-step2__item
                      .calculator-step2__picture
                        img(src="images/check-1.svg" alt="")
                      input.input--mode(type="radio" id="check1" name="check1" value="1")
                      label(for="check1") Брендирование транспорта

                    li.calculator-step2__item
                      .calculator-step2__picture
                        img(src="images/check-2.svg" alt="")
                      input.input--mode(type="radio" id="check2" name="check1" value="1")
                      label(for="check2") Видеореклама

                    li.calculator-step2__item
                      .calculator-step2__picture
                        img(src="images/check-3.svg" alt="")
                      input.input--mode(type="radio" id="check3" name="check1" value="1")
                      label(for="check3") Реклама на спинках кресел

                    li.calculator-step2__item
                      .calculator-step2__picture
                        img(src="images/check-4.svg" alt="")
                      input.input--mode(type="radio" id="check4" name="check1" value="1")
                      label(for="check4") Реклама на стикерах

                  ul.calculator-step2__list2
                    li.calculator-step2__item2
                      input.input(type="checkbox" id="bus1")
                      label(for="bus1" disabled).bus1
                        span Микроавтобус <br>
                        span (Ford, Merscedes, ГазельNext)
                    li.calculator-step2__item2
                      input.input(type="checkbox" id="bus2")
                      label(for="bus2" disabled).bus2
                        span Микроавтобус <br>
                        span (Ford, Merscedes, ГазельNext)
                    li.calculator-step2__item2
                      input.input(type="checkbox" id="paz1")
                      label(for="paz1" disabled).paz1
                        span Автобус ПАЗ
                    li.calculator-step2__item2
                      input.input(type="checkbox" id="paz2")
                      label(for="paz2" disabled).paz2
                        span Автобус ПАЗ

            // calculator step 3
            .calculator-step.calculator-step3
              .calculator__inner.calculator__make-bus-1
                ul.calculator-step3__list
                  li.calculator-step3__item
                    input.input--step3(type="radio" id="size-bus-1" name="check2")
                    label(for="size-bus-1")
                      img(src="images/calculator/bus1.png" alt="")
                  li.calculator-step3__item
                    input.input--step3(type="radio" id="size-bus-2" name="check2")
                    label(for="size-bus-2")
                      img(src="images/calculator/bus2.png" alt="")
                  li.calculator-step3__item
                    input.input--step3(type="radio" id="size-bus-3" name="check2")
                    label(for="size-bus-3")
                      img(src="images/calculator/bus3.png" alt="")
                  li.calculator-step3__item
                    input.input--step3(type="radio" id="size-bus-4" name="check2")
                    label(for="size-bus-4")
                      img(src="images/calculator/bus4.png" alt="")
                  li.calculator-step3__item
                    input.input--step3(type="radio" id="size-bus-5" name="check2")
                    label(for="size-bus-5")
                      img(src="images/calculator/bus5.png" alt="")
                .calculator-step3__select
                  span Срок размещения
                  select(name="Размещение")
                    option(value="Значение 1") Значение 1
                    option(value="Значение 2") Значение 2
                    option(value="Значение 3") Значение 3
                    option(value="Значение 4") Значение 4
                p.text Брендирование проводится перфорированной пленкой высокого качества на срок от 3-х месяцев. <br> Предусмотрена индивадуальная подборка маршрута.

            // calculator step 4
            .calculator-step.calculator-step4
              .calculator__inner.calculator__make-bus-2
                ul.calculator-step3__list
                  li.calculator-step3__item.calculator-step3__item--mode
                    input.input--step3(type="radio" id="big-size-bus-1" name="check3")
                    label(for="big-size-bus-1")
                      img(src="images/calculator/bus6.png" alt="")
                  li.calculator-step3__item.calculator-step3__item--mode
                    input.input--step3(type="radio" id="big-size-bus-2" name="check3")
                    label(for="big-size-bus-2")
                      img(src="images/calculator/bus7.png" alt="")
                  li.calculator-step3__item.calculator-step3__item--mode
                    input.input--step3(type="radio" id="big-size-bus-3" name="check3")
                    label(for="big-size-bus-3")
                      img(src="images/calculator/bus8.png" alt="")
                .calculator-step3__select
                  span Срок размещения
                  select(name="Размещение")
                    option(value="Значение 1") Значение 1
                    option(value="Значение 2") Значение 2
                    option(value="Значение 3") Значение 3
                    option(value="Значение 4") Значение 4
                p.text Брендирование проводится перфорированной пленкой высокого качества на срок от 3-х месяцев. <br> Предусмотрена индивадуальная подборка маршрута.

            // calculator step 5
            .calculator-step.calculator-step5
              .calculator__inner.calculator__format-print
                ul.calculator__format-print-left
                  li.calculator__format-print-left-item
                    input.input--step5(type="checkbox" id="format1")
                    label(for="format1") 
                      .sheet-label
                        span A4
                  li.calculator__format-print-left-item
                    input.input--step5(type="checkbox" id="format2")
                    label(for="format2")
                      .sheet-label
                        span A4
                ul.calculator__format-print-center
                  li.calculator__format-print-center-item
                    input.input--step5(type="checkbox" id="format3")
                    label(for="format3" id="label1")
                      .sheet-label
                        span A5
                    label(for="format3")
                      .sheet-label
                        span A5                        
                  li.calculator__format-print-center-item
                    input.input--step5(type="checkbox" id="format4")
                    .label-wrapper
                      label(for="format4")
                        .sheet-label
                          span A5
                      label(for="format4")
                        .sheet-label
                          span A5   
                ul.calculator__format-print-right
                  li.calculator__format-print-right-item
                    input.input--step5(type="checkbox" id="format5")
                    label(for="format5")
                      .sheet-label
                        span A5 +
                  li.calculator__format-print-right-item
                    input.input--step5(type="checkbox" id="format6")
                    label(for="format6")
                      .sheet-label
                        span A5 +
                  li.calculator__format-print-right-item
                    input.input--step5(type="checkbox" id="format7")
                    label(for="format7")
                      .sheet-label
                        span A5 +
                  li.calculator__format-print-right-item
                    input.input--step5(type="checkbox" id="format8")
                    label(for="format8")
                      .sheet-label
                        span A5 +
              .calculator-step3__select
                span Срок размещения
                select(name="Размещение")
                  option(value="Значение 1") Значение 1
                  option(value="Значение 2") Значение 2
                  option(value="Значение 3") Значение 3
                  option(value="Значение 4") Значение 4
              p.text Брендирование проводится перфорированной пленкой высокого качества на срок от 3-х месяцев. <br> Предусмотрена индивадуальная подборка маршрута.

            // calculator step 6
            .calculator-step.calculator-step6
              .calculator__inner.calculator__format-print.calculator__format-print--mode
                .calculator__format-print-top
                  ul.calculator__format-print-top-list
                    li
                      input.input--step6(type="checkbox" id="format9")
                      label(for="format9")
                        .sheet-label
                          span A6 +
                        .sheet-label
                          span A6 +
                        .sheet-label
                          span A6 +
                .calculator__format-print-bottom
                  ul.calculator__format-print-bottom-list
                    .calculator__format-print-bottom-left-list
                      li
                        input.input--step6(type="checkbox" id="format10")
                        label(for="format10")
                          .sheet-label
                            span A5
                      li
                        input.input--step6(type="checkbox" id="format11")
                        label(for="format11")
                          .sheet-label
                            span A5
                    .calculator__format-print-bottom-right-list
                      li
                        input.input--step6(type="checkbox" id="format12")
                        label(for="format12")
                          .sheet-label
                            span A4
                      li
                        input.input--step6(type="checkbox" id="format13")
                        label(for="format13")
                          .sheet-label
                            span A4
              .calculator-step3__select
                span Срок размещения
                select(name="Размещение")
                  option(value="Значение 1") Значение 1
                  option(value="Значение 2") Значение 2
                  option(value="Значение 3") Значение 3
                  option(value="Значение 4") Значение 4
              p.text Минимальное размещение - 10 маршрутных такси, печать, ламинирование и монтаж рекламно-информационных материалов входит в стоимость размещения

            // calculator step 7
            .calculator-step.calculator-step7
              .calculator__inner.calculator__format-print--step7
                .calculator__format-print-top-step7
                  ul.calculator__format-print-top-step7-list
                    div
                      li
                        input(type="radio" id="format14"  name="radio-amount1").input--step7
                        label(for="format14")
                          .sheet-label
                            span A4
                    div
                      li
                        input(type="radio" id="format15" name="radio-amount").input--step7
                        label(for="format15") 30шт
                      li
                        input(type="radio" id="format16" name="radio-amount").input--step7
                        label(for="format16") 40шт
                      li
                        input(type="radio" id="format17" name="radio-amount").input--step7
                        label(for="format17") 50шт
                .calculator__format-print-bottom-step7
                  ul.calculator__format-print-bottom-step7-list
                    div
                      input(type="radio" id="format18"  name="radio-amount1").input--step7
                      label(for="format18")
                        .sheet-label
                          span A3
                    div
                      li
                        input(type="radio" id="format19" name="radio-amount").input--step7
                        label(for="format19") 30шт
                      li
                        input(type="radio" id="format20" name="radio-amount").input--step7
                        label(for="format20") 40шт
                      li
                        input(type="radio" id="format21" name="radio-amount").input--step7
                        label(for="format21") 50шт
              p.text Минимальное размещение - 30 маршрутных такси, печать, ламинирование и монтаж рекламно-информационных материалов входит в стоимость размещения

            // calculator step 8
            .calculator-step.calculator-step8
              .calculator__inner.calculator__indicate-contacts
                p.text Укажите свои контактные данные. В ближайшее время с Вами свяжется наш менеджер.
                ul.calculator__indicate-list
                  li.contacts__indicate-item
                    label.contacts__indicate-label(for="name") ФИО
                    input(type="text" id="name")
                  li.contacts__indicate-item
                    label.contacts__indicate-label(for="email") E-mail
                    input(type="email" id="email")
                  li.contacts__indicate-item
                    label.contacts__indicate-label(for="phone") Номер
                    input(type="text" id="phone")
                  input(type="checkbox" id="concent").input--concent
                  label(for="concent") Я согласен с условиями обработки персональных данных

          // btn start
          button.btn-start.calculator__btn.calculator__start
            span Начать
            .calculator__picture-next
              img(src="images/mobile/arrow-next.png" alt="")


          // Buttons calculator
          .calculator__btns
            button.btn-prev.calculator__btn.calculator__prev
              .calculator__picture-prev
                img(src="images/mobile/arrow-back.png" alt="")
              span Назад
            button.btn-next.calculator__btn.calculator__next
              span Далее
              .calculator__picture-next
                img(src="images/mobile/arrow-next.png" alt="")

          .calculator__thanks Спасибы


      .brends
        .container
          .slick-slider-brends
            .slider-slick-brends__item
              .slick-slider-brends__pic
                img(src="images/brend1.svg" alt="")
            .slider-slick-brends__item
              .slick-slider-brends__pic
                img(src="images/brend2.svg" alt="")
            .slider-slick-brends__item
              .slick-slider-brends__pic
                img(src="images/brend3.svg" alt="")
            .slider-slick-brends__item
              .slick-slider-brends__pic
                img(src="images/brend4.png" alt="")
            .slider-slick-brends__item
              .slick-slider-brends__pic
                img(src="images/brend3.svg" alt="")
            .slider-slick-brends__item
              .slick-slider-brends__pic
                img(src="images/brend1.svg" alt="")
            .slider-slick-brends__item
              .slick-slider-brends__pic
                img(src="images/brend2.svg" alt="")
            .slider-slick-brends__item
              .slick-slider-brends__pic
                img(src="images/brend3.svg" alt="")
            .slider-slick-brends__item
              .slick-slider-brends__pic
                img(src="images/brend4.png" alt="")
            .slider-slick-brends__item
              .slick-slider-brends__pic
                img(src="images/brend3.svg" alt="")

    .contacts
      .container
        h2.contacts__title Контакты
        .contacts__top
          .contacts__item
            a.contacts__phone(href="tel:546000")
              img(src="images/phone.png" alt="")
            p.text 
              a(href="tel:546000") 546-000
          .contacts__item
            a.contacts__map
              img(src="images/map2.png" alt="")
            p.text г. Курск  ул. Карла Либкнехта дом 9а, 4 этаж
          .contacts__item
            a.contacts__mail(href="mailto:info@mtvkursk.com")
              img(src="images/mail.png" alt="")
            p.text 
              a(href="mailto:info@mtvkursk.com") info@mtvkursk.com
        .contacts__bottom.social
          .social
            .social__we-in-social
              img(src="images/we-in-social.png" alt="")
            .social__content
              a.social__links.vk-icn(href="#")
                img(src="../images/vk-icn.svg" alt="")
              a.social__links.youtube-icn(href="#")
                img(src="../images/youtube-icn.svg" alt="")
              a.social__links.inst-icn(href="#")
                img(src="../images/inst-icn.svg" alt="")




    .background-line.background-line--bottom
      img.background-line__picture(src="images/bottom-back.png")

    .menu-wrapper
      .background-line.background-line--bottom
        img.background-line__picture(src="images/top-back.png")

      .container
        button.menu-close
          img(src="../images/menu-close.svg" alt="")
        .menu
          ul.menu-list-left
            li.menu-list-left__item
              a(href="#") Главная
            li.menu-list-left__item
              a(href="#") Калькулятор
            li.menu-list-left__item
              a(href="#") Спасибы
            li.menu-list-left__item
              a(href="#") Горячее
            li.menu-list-left__item
              a(href="#") Контакты
          ul.menu-list-right
            li.menu-list-right__item 
              span.menu-list-right__title Набери
              a(href="tel:84712546000") +7(4712) 546-000
              a(href="tel:84712749933") +7(4712) 749-933
            li.menu-list-right__item 
              span.menu-list-right__title Зайди
              span.menu-list-right__text г.Курск
              span.menu-list-right__text ул. Карла Либкнехта, 9а, 4 этаж.
            li.menu-list-right__item
              span.menu-list-right__title Напиши
              a(href="mailto:info@mtvkursk.com") info@mtvkursk.com
              .social__content
                a.social__links.vk-icn(href="#")
                  img(src="../images/vk-icn.svg" alt="")
                a.social__links.youtube-icn(href="#")
                  img(src="../images/youtube-icn.svg" alt="")
                a.social__links.inst-icn(href="#")
                  img(src="../images/inst-icn.svg" alt="")

      .background-line.background-line--bottom.background-line--rotate
        img.background-line__picture(src="images/top-back.png")