// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-text: #333;
$color-orange: #FF7901;
$color-purple: #37123C;

// FONTS

$main-font: "Conv_SK Pencil-Regular",
sans-serif;

$opensans-font: "OpenSans",
sans-serif;
